<html>
    <head>
        <title>Blob Service</title>
    </head>
    <body>
        <h1>Blob Service</h1>
        This service provides a means of storing binary data in the local
        file system. The files are stored in an application sub folder as
        JSON documents with Base64-encoded data and a name. The name needs
        to be unique, storing under an exisitng name results in the contents
        being overwritten.

        <h2>Endpoints</h2>
        <h3>/</h3>
        This information page.
        <h3>/store</h3>
        Upload JSON or form data to the index. If the endpoint is accessed
        using GET, a <a href="/store">form</a> will be displayed which will
        post the following parameters:
        <ul>
            <li>name : A blob name</li>
            <li>content : Base64 encoded binary data</li>
        </ul>
        Application access to the service should typically not use the form
        itself, but POST the JSON representation of the above as the body,
        for example:
        <p>
            <code>
                {"name" : "A unique name", 
                 "content" : "QmFzZTY0IGVuY29kZWQgY29udGVudA=="}
            </code>
        </p>
        <h3>/retrieve/:name</h3>
        Returns a JSON representation of the stored blob. The :name parameter
        should be sent using the GET method. Omitting the parameter in a GET
        request lists all available blobs (i.e. <a href="/retrieve">/retrieve</a>). 
    </body>
</html>